[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/balag91
[access "refs/for/refs/*"]
	read = group user/balag91
	push = group user/balag91
	label-Code-Review = -2..+2 group user/balag91
	label-Verified = -1..+1 group user/balag91
	rebase = group user/balag91
	removeReviewer = group user/balag91
	submit = group user/balag91
[access "refs/heads/*"]
	read = group user/balag91
	create = group user/balag91
	push = +force group user/balag91
	pushMerge = group user/balag91
[access "refs/tags/*"]
	push = group user/balag91
	push = +force group user/balag91
